* {
    font-family: Oxygen,monospace;
    box-sizing: border-box;
}

.feather-16{
    width: 16px;
    height: 16px;
}

#website-wrapper {
    color: #c9cacc;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow-wrap: break-word;
    padding-top: 2rem;
    padding-bottom: 4rem;
    box-sizing: border-box;
    padding-top: 32px;
    hyphens: auto;
    max-width: 1000px;
}

#summary {
    padding-top: 2rem;
}

#projects a {
    font-weight: bold;
    margin-right: 1rem;
    font-size: 1rem;
}

h1 {
    color: #2f9ed1;
    font-weight: 600;
}

h4 {
    color: #666;
}

body {
    height: 100%;
    color: #c9cacc;
    font-display: swap;
    font-weight: 400;
    font-size: 14px;
    font-family: Oxygen,monospace;
    line-height: 1.725;
    text-rendering: geometricPrecision;
    flex: 1;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    max-width: 72rem;
    padding-right: 2rem;
    padding-left: 2rem;
    margin: 0 auto;
}

body a {
    color: #c9cacc;
    text-decoration: none;
}

#website-header h1 {
    font-weight: lighter; 
}

#website-content h1 {
    font-size:x-large;
}

#website-header span{
    display: inline-block;
}

code .inline {
    overflow-x: auto;
    font-size: 13px;
    font-family: Oxygen,monospace;
    line-height: 22px;
    padding: 0 5px;
    background: #212326;
    border: 1px dotted #666;
    border-radius: 2px;
    -webkit-border-radius: 2px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    width: 33%;
    padding: 10px;
    height: 50%;
    float: left;
}

@media (min-width: 320px) and (max-width: 600px) {
    #cols .column {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .column {
        text-align: center;
        width: 100%;
    }
}

div {
    display: block;
}

.about-list {
    padding-left: 12px;
}

li {
    margin-bottom: 3px;
}

::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
}

#books-list img {
    width: 100px;
    height: 140px;
    vertical-align: top;
}

#books-list #left_block_book, #books-list #right_block_book{
    display: inline-block;
}

#right_block_book {
    padding-left: 5mm;
    max-width: 60%;
    width: 100%;
    max-height: 140px;
    overflow-y: hidden;
}
#right_block_book h2 {
    font-size: 4mm;
    padding: 0;
    margin: 0;
}

#right_block_book h3 {
    font-size: 3mm;
    padding: 0;
    margin: 0;
}

#right_block_book p {
    font-size: 3mm;
    padding: 0;
    margin: 0;
}

#books-list {
    max-height: 30em;
    overflow-y: scroll;
}

#left_block_book {
    vertical-align: top;
    max-width: 70%;
}

#books-list li {
    list-style-type: none;
    margin-bottom: 2mm;
}

#books-list ul {
    margin: 0;
    padding: 0;
}

#highlight-project .div1 {
    width: 100%; 
    max-width: 24rem; 
    background-color: #C9CCCB; 
    border-radius: 0.25rem;
    margin-right: auto;
    margin-left: auto;
    -moz-box-shadow: 0 0 20px #2f9ed1;
    -webkit-box-shadow: 0 0 20px #2f9ed1;
    box-shadow: 0 0 20px #2f9ed1;
}

#highlight-project .div1:hover {
    cursor: pointer;
}

#highlight-project h1 {
    margin-bottom: 3rem;
}

#highlight-project .div2 {
    overflow: hidden; 
    background-size: cover; 
    text-align: center; 
    flex: none; 
    height: 24rem; 
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem; 
    background-color: #C9CCCB; 
}

@media (min-width: 1024px) { 
    #highlight-project .div1 {
        display: flex; 
        max-width: 100%; 
        margin-left: auto;
        margin-right: auto;
    }
    #highlight-project .div2 {
        width: 25rem; 
        border-bottom-left-radius: 0.25rem;
    } 
    #highlight-project .div3 {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0; 
        border-top-right-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem; 
        border-top-width: 1px; 
        border-left-width: 0; 
        border-color: #9CA3AF; 
    } 
}

@media (max-width: 1024px) { 
    .about-list {
        list-style-type: none;
    }
}

#highlight-project .div3 {
    display: flex; 
    padding: 1rem; 
    background-color: #C9CCCB; 
    line-height: 1.5; 
    flex-direction: column; 
    justify-content: space-between; 
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem; 
    border-right-width: 1px; 
    border-bottom-width: 1px; 
    border-left-width: 1px; 
    border-color: #9CA3AF; 
}

#highlight-project .div4 {
    margin-bottom: 1rem; 
}
#highlight-project .div5 {
    margin-bottom: 0.5rem; 
color: #111827; 
font-size: 1.25rem;
line-height: 1.75rem; 
font-weight: 700; 


}

#highlight-project .div6 {
    color: #374151; 
font-size: 1rem;
line-height: 1.5rem; 
}

#highlight-project .div7 {
    display: flex; 
align-items: center; 

}

#highlight-project .div8 {
    margin-right: 1rem; 
width: 2.5rem; 
height: 2.5rem; 
border-radius: 9999px; 
}

#highlight-project .div9 {
    font-size: 0.875rem;
line-height: 1.25rem; 
}

#highlight-project .div10 {
    color: #111827; 
line-height: 1;  
}

#highlight-project .div11 {
    color: #4B5563;      
}

#me-metadata h1 {
    padding: 0;
    margin: 0;
}
.website-welcome-image img, .website-welcome-image {
    max-width: 18rem;
    width: 100%;
}

#image-box, .welcome-image-link, #welcome-image {
    height: 13rem;
}

@media (min-width: 1024px) { 
    .website-welcome-image, .website-metadata {
        display: inline-block;
        vertical-align: top;
        margin-right: 2rem;
    }
    .website-header div{
        vertical-align: top;
    }
    .website-header span{
        vertical-align: top;
    }
    .website-welcome-image {
        float: right;
    }
    .website-welcome-image {
        margin-top: 0 !important;
    }
}


.website-welcome-image #image-box {
    position: relative;
}
.website-welcome-image #image-text p {
    margin: 0;
    padding: 1rem;
    max-width: 100%;
}
.website-welcome-image #image-text {
    z-index: 2rem;
    position: absolute;
    color: white;
    font-weight: bold;
    left: 0;
    bottom: 1rem;
    background: rgba(3, 0, 0, 0.3);
    color: #c9cacc; 
    max-width: 100%;
}

:root{
    --bs-dark: #1d1f21;
  }
  
  .theme-container {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
  }
  
  .theme-container:hover {
    opacity: 0.8;
  }
  
  .shadow-dark {
    background: linear-gradient(145deg, #23282c, #1e2125);
    box-shadow: 17px 17px 23px #1a1d20,
      -17px -17px 23px #282d32, inset 5px 5px 4px #1e2226,
      inset -5px -5px 4px #24282c;
  }
  
  .shadow-light {
    box-shadow: 7px 7px 15px -10px #bbcfda, -4px -4px 13px #ffffff,
      inset 7px 7px 3px rgba(209, 217, 230, 0.35),
      inset -11px -11px 3px rgba(255, 255, 255, 0.3)
  }
  
  @keyframes change {
    0% {
      transform: scale(1);
    }
  
    100% {
      transform: scale(1.4);
    }
  }
  
  .change {
    animation-name: change;
    animation-duration: 1s;
    animation-direction: alternate;
  }


.light-theme p, .light-theme span, .light-theme #website-wrapper, .light-theme li {
    color: #333333 !important;
}

.light-theme h1, .light-theme h2, .light-theme h3, .light-theme h4{
    color: black !important;
} 
.light-theme li a {
    color: #2f9ed1;
}
.light-theme #highlight-project .div3, .light-theme #highlight-project .div2 {
    background-color: #f4f2e9;
}

#image-text p {
    color: white !important;
}
.light-theme body a {
    color: #2f9ed1 !important;
}

body a {
    color: lightskyblue;
}

body a {
    color: lightskyblue;
}

#projects li a {
    color: #c9cacc;
}
#website-header h4 {
    color: #c9cacc;
}